extends layout 

block content 
     <a href="/">Back</a>
     <h1>You have got your space..</h1>
     <h3>Let your mind and heart free and let them speak for you. Whatever you write will never get saved so you have your thoughts to yourself only.
     
     <form method="POST" action="/new">
          
            <input type="text" id="author" name="author" placeholder="Name" required >  
            <label for="msg">Message: </label>
            <input type="text" id="msg" name="msg" placeholder="Write here" required>
            <input type="submit" value="Submit">
      </form>
      