extends layout 

block content
    <a href="/">Back</a>
    h1 You have got your space..
    h3#formdes Let your mind and heart free and let them speak for you.This all will never get saved so good to go!!! 
    <form method="POST" action="/new">   
      <input type="text" id="author" name="author" placeholder="Name" required >  
<<<<<<< HEAD
      <textarea name="msg" rows= "5" cols="40"  placeholder="Write your message here.." required ></textarea>
=======
      <textarea name="text" rows= "5" cols="40" >Write your message here...</textarea>
>>>>>>> c22ebb3c3b559abfcff59086407dacf30c168b0e
      <input type="submit" value="Submit">
    </form>
      