body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ffb4a2;
  background-color: #6d6875;
}

a {
  color: #FFCDB2;
}
ul{
  list-style: none;
  color: #b5838d;
}
ul li{
     margin-bottom: 20px;
     box-shadow: 0 3px 7px #00577759;
     background-color: #b5838d;
     padding: 10px;
     border-radius: 5px;
     width:520px;
     transition: 0.2s ease;
     position: relative;
     left: 0;
     font-size: 1em;
}
ul li:hover {
     left: 5px;
}




